.register{
    border: px solid;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
}

form{
    background-color:  #fff;
    border: 5px solid;
    padding: 5%;
    border-radius: 6%;
    font-size: xx-large;
    font-weight: 900;
    height: auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0036e6;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    font-size: x-large;
}

@media (max-width:650px) {
    .register{
        display: flex;
        justify-content:baseline;
        align-items:baseline;

    }
}

input{
    height: 40px;
    width: auto;
}